body{
	font-family: sans-serif;
	background: #ebf9fb;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.tulisan_forgot{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	
}

.kotak_forgot{
	min-width:300px;
	min-height: 200px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 50%;
	box-shadow: 0px 0px 100px 4px ;
}

label{
	font-size: 11pt;
}

.form_forgot{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 100px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_forgot{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}
body{
	font-family: sans-serif;
	background: #ebf9fb;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
.tulisan_forgot{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/

}
 
.kotak_forgot{
	width: 200px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}
 
label{
	font-size: 11pt;
}
 
.form_forgot{
	/*membuat lebar form penuh*/
	box-sizing : border-box;a
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_forgot{
	background: #39B2C6;
	color: white;
	font-size: 12pt;
	width: 25%;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	float:right;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
 

hr{
	color:#fff;
	width:300px;
}
.ket{
	font-size: 10px;
	text-align: center;
}