	body{
	   background:white;
	   font-family: arial;
	background-size:cover;

	
	}
	
	table {
		width:200px;
		margin:80px auto;
	    padding:10px 10px;
	    border:cyan;
	   background:white;
	    
 
	}
	input[type="text"], input[type="password"], form-group{
	      border:1px solid rgba(51,51,51,.5);
	    padding:6px 20px;
	    font-size: 20px;
	    line-height: 10px;
	    width: 100%;
	    text-align:center;
		margin-top: 10px;						
		
	}
 
	input[type="submit"]{
		margin-top: 10px;
	    font-size: 19px;
	    border:1px solid #000;
	    padding:5px 200px;
	    border:1px solid rgba(51,51,51,.5);
		background:#2fa4e7;
		color:#fff;
		
	  
 box-shadow: 2px 1px 1px #aaa;
	    cursor:pointer;
	}
	input[type="submit"]:hover{
	    	    background:#85c8ef;
	}
	
	button{
		margin-top: 15px;
	    font-size: 19px;
	    border:1px solid #000;
	    padding:5px 40px;
	    border:1px solid rgba(51,51,51,.5);
		background:#9B1010;
		color:#fff;
		
	  
 box-shadow: 2px 1px 1px #aaa;
	    cursor:pointer;
	}
	button:hover{
	    	    background:#ed4141;
	}
	
	p{
		align:center;
	}
	


	
	
	
