body{
	
	 font-family:'arial';
 background:url(gambar/2.jpg);
 background-size:cover;
}

#body{
	width:100%;
	min-height:1000px;
	padding-top:2 %; 
	padding-left: 2%;
	    padding: 15px 15px; 
    background:#F3F3F3;
}


.container{
	width:100%;
	min-height:1200px;
	background:#fff;
	
	}

.navbar-expand-lg{
	background-color:#39B2C6 !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom:0.3125rem;
  margin-right: 2rem;
  font-size: 30px;
  line-height: inherit;
  white-space: nowrap;
 

  }
 
 

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}
.bg-dark {
  background-color:#191e23 !important;
  width:100%;
	height:100px;
}
.identitas{
	padding-left:0,05px;
	color:#d9e6f5;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	float:right;
	width:200px;
}

#info{
background-color:;
width:100%;
}

#daftar{
	padding-left: 15px;
}
h6{
	font-size:15px;
  text-align:center;

  

}

 h4{
  font-size:25px;
text-align: center;


 }